<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Untitled" %> </title>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/bargraph.css" type="text/css" media="screen" charset="utf-8">
  <script src="/javascript/d3/d3.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
