<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Untitled" %> </title>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" charset="utf-8">
  <script src="http://d3js.org/d3.v2.js"></script>  
</head>
<body>
  <div class="content">
    <% %w(notice warning error).each do |key| %>
      <% if flash[key] %>
        <div class="flash flash_<%= key %>">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
